<settings>
	<category label="URL Settings">
        <setting id="custurl" 	type="text" label="[B][COLOR red]Set custom Domain[/COLOR] :[/B]" default="http://site.myvideolinks.xyz/" enable="!eq(-1,false)" />

        <setting id="cust7" 	type="text" label=" " default="[COLOR blue]Try these urls in set custom Domain[/COLOR]" />
        <setting id="cust" 	       type="text" label=" " default="[COLOR blue]http://myvideolinks.eu/[/COLOR]" />
        <setting id="cust1" 	type="text" label=" " default="[COLOR blue]http://myvideolinks.xyz/[/COLOR]" />
        <setting id="cust2" 	type="text" label=" " default="[COLOR blue]http://movies.myvideolinks.eu/[/COLOR]" />
        <setting id="cust3" 	type="text" label=" " default="[COLOR blue]http://movies.myvideolinks.xyz/[/COLOR]" />
        <setting id="cust4" 	type="text" label=" " default="[COLOR blue]http://site.myvideolinks.xyz/[/COLOR]" />
        <setting id="cust6" 	type="text" label=" " default="[COLOR blue]or check site for new url or ask @TheYid009 on twitter[/COLOR]" />
      </category>
      <category label="Resolver Settings">
		<setting label="Resolver Settings" type="action" action="Addon.OpenSettings(script.module.urlresolver)" enable="System.HasAddon(script.module.urlresolver)"/>
       </category>
   <category label="Auto-View  Settings">
   	<setting id="auto-view" type="bool" label="Enable Automatic View" default="true"/>
   	<setting id="tvshows-view" type="number" label="Movie View" default="500" enable="!eq(-2,false)"/>
   	<setting id="default-view" type="number" label="Default View" default="50" enable="!eq(-3,false)"/>
      </category>
</settings>